nav {
    background-color: antiquewhite;
    overflow: auto;
}

a{
    display: inline;
    text-decoration: none;
    padding: 2%;
    float: right;
}
a:hover{
    color: black;
}
.nav-background{
    background-image: url("../images/images/brett-jordan-kJw28zGOxoE-unsplash.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
}